<ul id="listing_items">
  <% @listingable.listings.each do |listing| %>
    <li>
      <h4><%= listing.name %></h4>
      <%= listing.description%>
      <p>I would like to <strong><%= listing.exchange_type %></strong> this item.</p>
      <%= image_tag listing.photo %>
    </li>
  <% end %>
</ul>
